/* You can add global styles to this file, and also import other style files */
body{
  color: #212121;
  background-color: #E7EEEC;
}
.circle{
  text-align: center;
  padding: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #36302D;
  color: #FFFFFF;
}
